@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}


.header{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    box-shadow: -1px 16px 57px -27px rgba(66, 68, 90, 1);

}

.logo{
    cursor: pointer;
    width: 200px;
    object-fit: cover;
}

.search-bar{
    background-color: transparent;
    padding: 8px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.bi-search{
    font-size: 18px;
    cursor: pointer;
    padding:8px;
    background-color: rgb(236, 207, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    
}

.search-input{
    padding: 5px;
    border-radius: 20px;
    width: 0;
    background-color: rgb(238, 126, 145);
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: .5s all ease-in;
}

.search-bar:focus + .search-input, .search-input:focus{
    width: 200px;
    background-color: white;
}

#main{
    padding: 16px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 120px;
}

.pokemon-box{
    border-radius: 12px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    width: 217px;
    gap: 12px;
    padding: 8px;
    cursor: pointer;
}

.bg-img{
    width: 80px;
    object-fit: cover;
    position: absolute;
    right: 10px;
    opacity: .1;
}

.pokemon-name{
    font-size: 20px;
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.characteristic{
    display: inline-block;
    padding: 5px;
}

.characteristic li{
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 4px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}


.infos{
    padding: 8px 0px;
}

.img-box{
    z-index: 2;
}

.pokemon-img{
    background-size: 30px;
    width: 70px;
    object-fit: cover;
    padding: 4px;
    transition: all .2s ease-in;
}
.pokemon-img:hover{
    transform: scale(1.1);
}

.id-number{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-weight: bolder;
    color: white;
}


.poison{
    background-color: #4ED6B8;

}

.water {
    background-color: #6890F0; /* Blau für Wasser-Typ */
  }
  
  .fire {
    background-color: #F08030; /* Orange für Feuer-Typ */
  }
  
  .flying {
    background-color: #A890F0; /* Lila für Flug-Typ */
  }
  
  .normal {
    background-color: #A8A878; /* Braun für Normal-Typ */
  }
  
  .bug {
    background-color: #A8B820; /* Grün für Käfer-Typ */
  }
  
  .electric {
    background-color: #F8D030; /* Gelb für Elektro-Typ */
  }
  
  .ground {
    background-color: #E0C068; /* Beige für Boden-Typ */
  }
  
  .fairy {
    background-color: #EE99AC; /* Rosa für Fee-Typ */
  }


  /* Styling the window */

  
.window{
    z-index: 100;
    position: fixed;
    top: 120px;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.199);

}

.big-size-pokemon{
    width: 70%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 16px 36px 11px rgba(233, 230, 230, 0.877);
}

.first-div{
    padding: 12px;
    height: 50%;
    border-radius: 12px;
  }

  .bootstrap-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
  }

  .bi-arrow-left{
    padding: 3px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.699);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bi:hover{
    transition: 225ms all ease-in;
    transform: scale(1.1);
  }

  .information{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items:flex-start;
  }


  .name-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .count-number{
     color: white;
     font-weight: 700;
     font-size: 20px;
  }

  h3{
    color: white;
    text-transform: capitalize;
    font-size: 20px;
  }

  .information ul{
    display: flex;
    gap: 8px;
  }

  .second-div{
    position: relative;
    flex: 1;
    background-color: white;
    z-index: 2;
    padding: 12px;
    margin-top: -30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-img{
    width: 140px;
    height: 140px;
    object-fit: contain;
    position: absolute;
    top: -135px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(17px 11px 24px #000000b2);
  }

  .menu{
    width: 100%;
    padding: 15px 8px;
    display: flex;
    gap: 5px;
    justify-content: space-around;
    align-items: center;
  }

  .menu li{
    list-style: none;
    font-weight: bold;
  }

  .menu li:hover{
    text-decoration: underline 2px;
  }

  .menu li:focus{
    color: red;
  }

  .show-infos{
    background-color: white;
    width: 90%;
    border-radius: 12px;
    height: 80%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

  }

  .show-infos .all-info{
    width: 100%;
    height: 100%;
    gap: 12px;
  }

  .all-info:nth-of-type(1){
    background-color: red;
  }

  .all-info:nth-of-type(2){
    background-color: blue;
  }

  .all-info:nth-of-type(3){
    background-color: orange;
  }

  .all-info:nth-of-type(4){
    background-color: rgb(131, 113, 80);
  }
  

  .table{
    height: 100% !important;
  }
  
  tbody tr{
    border-bottom: 1px solid transparent;
 
  }


  td{
    border: none !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }

  canvas{
    display: inline-block !important;
    width: 100% !important;
    height: 100% !important;
  }
 
  .info-img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-img-div img{
    width: 90px;
    object-fit: contain;
  }

  .moves-div{
    display: flex;
    height: 300px;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    flex-direction: row;
    overflow-y: auto;
  }

  .moves-div li{
    list-style: none;
    font-weight: 700;
  }
  
